/* Import all of Tailwind's styles */
@import "tailwindcss";

/* Base theme colors applied using Tailwind variables */
html, body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}

/* Custom CSS variables (light mode) */
:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* Override for dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #03041e;
    --foreground: #ffffff;
  }
}

/* Fallback for legacy */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
